@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-color: #020111;
  display: flex;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container {
  color: #f1f1f1;
  margin: 0 auto;
  text-align: center;
}

h1 {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
  color: #216f9c;
}
